@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import './Variables.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-foreground;
  font-family: $font-primary;
}
