@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700&display=swap');
@import './Variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-foreground;
  font-family: $font-primary;
}
