@import './Variables.scss';

.main {
  position: fixed;
  left: calc(20vw + 80px);
  width: 50vw;
  top: 0;
  bottom: 0;
}

.header {
  padding: 1rem;
  height: 63px;
  border-bottom: 1px solid $color-light-gray;
}

.chat {
  background-color: #f6f6f7;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  padding-bottom: 10rem;
}

.embedWrapper {
  width: 50%;
}

.textWrapper {
  display: inline-block;
}

.singleText {
  display: flex;
  margin-top: 1rem;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
  }

  .text {
    background-color: #fff;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  }

  .time {
    font-size: 12px;
    margin-top: 0.5rem;
  }
}

.sender {
  img {
    margin-right: 0.5rem;
  }
}

.user {
  align-self: flex-end;

  img {
    margin-left: 0.5rem;
    order: 2;
  }
}

.messageInput {
  input {
    display: block;
    position: absolute;
    bottom: 30px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px  solid #648cbb;
  }
}
